#top-margin{
    height: 20px;
}

#diner-info{
    max-width: 960px;
}

.page-title{
    margin: 1rem;
}

[name=thumbnail]{
    max-height: 200px;
}

#image_ue{
    width: 720px;
    height: 300px;
    object-fit: cover;
    padding: 0 !important;
}

#image_fp{
    width: 720px;
    height: 300px;
    object-fit: cover;
    padding: 0 !important;
}

#title_ue{
    color: #14BC41;
    font-size: 1.5rem;
    padding: 0 !important;
}

#rating_ue{
    color: #14BC41;
}

#view_count_ue{
    color: #14BC41;
}

#budget_ue{
    color: #14BC41;
}

#deliver_fee_ue{
    color: #14BC41;
}

#deliver_time_ue{
    color: #14BC41;
}

#title_fp{
    color: #E54190;
    font-size: 1.5rem;
    padding: 0 !important;
}

#rating_fp{
    color: #E54190;
}

#view_count_fp{
    color: #E54190;
}

#budget_fp{
    color: #E54190;
}

#deliver_fee_fp{
    color: #E54190;
}

#deliver_time_fp{
    color: #E54190;
}

.line{
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #E5E5E5;
}

[name=item-image]{
    width: 160px;
    height: 160px;
    object-fit: contain;
}


[name=item-title]{
    width: auto;
    height: 1rem + 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word
}

[name=item-description]{
    width: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

[name=item-price]{
    width: 160px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: end;
}

[name=item]{
    border: 1px #c4c4c4 solid;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 720px;
}

[name=sections_ue]{
    max-height: 800px;
    overflow: scroll;
}

[name=sections_pk_ue]{
    max-height: 800px;
    overflow: scroll;
}

[name=sections_fp]{
    max-height: 800px;
    overflow: scroll;
}

[name=sections_pk_fp]{
    max-height: 800px;
    overflow: scroll;
}

#open_hours_ue{
    text-align: end;
}

#open_hours_fp{
    text-align: end;
}

[name=divider]{
    width: 120px;
    height: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

[name=table-divider]{
    max-width: 97.5%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #E5E5E5;
}

#menu_pk [name=item-price]{
    width: 80px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: end;
}

#menu_pk [name=item-image]{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

#info-rows{
    text-align: center;
}

[name=section-tab]{
    cursor: pointer;
    width: fit-content !important;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}

[name=section-tab]:hover{
    font-weight: bold;
}

[name=section-tab].clicked{
    font-weight: bold;
}

[name=section-tab-pk]{
    cursor: pointer;
    width: fit-content !important;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}

[name=section-tab-pk]:hover{
    font-weight: bold;
}

[name=section-tab-pk].clicked{
    font-weight: bold;
}

[name=subsection-title]{
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cheaper-text{
    text-align: end;
}