

#content{
    margin-bottom: 4rem;
}

html {
    scroll-behavior: smooth;
}

.button{
    height: 24px;
    width: 24px;
}

/* .nav-item{
    min-width: 65px;
} */

[name=nav-link-no-padding]{
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: end;
}


[name=bread-crumb-line-no-padding]{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 6px !important;
}

[name=bread-crumb-no-padding]{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nav-bar-end-padding{
    width:10px !important;;
}

#brand{
    text-align: end;
}

#current-page{
    text-align: center;
}

[data-fix-content]{
    width: fit-content !important;
}