[data-show=no]{
    display: none;
}

#top-margin{
    height: 20px;
}

.text-align-center{
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}

[name=divider]{
    width: 120px;
    height: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 !important;
}

[name=divider-container]{
    padding: 0 !important;
}

[name=error-svg]{
    margin: 10px;
    height: 160px;
    width: auto;
}

[name=error]{
    height: fit-content;
    min-width: 600px;
}

[name=graph]{
    height: 400px;
    min-width: 600px;
}

.error-text{
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.fit-content{
    width: fit-content !important;
}

.date{
    margin: 5px !important;
}

.table-primary{
    border-style: none !important;
}

.table-info{
    border-style: none !important;
}

.table-success{
    border-style: none !important;
}

.no-padding{
    padding: 0 !important;
}

caption{
    font-size: 0.9rem;
    padding: 0.2rem !important;
}