.diner{
    height: 400px;
    overflow: auto;
}

.image{
    height: auto;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    object-fit: none;
}

.filters-buttons{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-title{
    margin: 1rem;
}

.filter-sorter-toggle{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

[name=send-filters]{
    margin-left: 1rem;
    margin-right: 1rem;
}

.toggle-button{
    margin-left: 1rem;
    margin-right: 1rem;
}


[name=thumbnail]{
    max-height: 200px;
}

#image_ue{
    background-size: 400px;
    width: 360px;
    height: 180px;
    object-fit: none;
}

#image_fp{
    background-size: 400px;
    width: 360px;
    height: 180px;
    object-fit: none;
}


#title_ue{
    color: #14BC41;
}

#rating_ue{
    color: #14BC41;
}

#view_count_ue{
    color: #14BC41;
}

#budget_ue{
    color: #14BC41;
}

#deliver_fee_ue{
    color: #14BC41;
}

#deliver_time_ue{
    color: #14BC41;
}

#title_fp{
    color: #E54190;
}

#rating_fp{
    color: #E54190;
}

#view_count_fp{
    color: #E54190;
}

#budget_fp{
    color: #E54190;
}

#deliver_fee_fp{
    color: #E54190;
}

#deliver_time_fp{
    color: #E54190;
}