.diner{
    height: 400px;
    overflow: auto;
}

.image{
    height: auto;
    overflow: auto;
    max-width: 100%;
}

.filters-buttons{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-title{
    margin: 1rem;
}

.filter-sorter-toggle{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

[name=send-filters]{
    margin-left: 1rem;
    margin-right: 1rem;
}

.toggle-button{
    margin-left: 1rem;
    margin-right: 1rem;
}


[name=thumbnail]{
    max-height: 200px;
}

#image_ue{
    background-size: 400px;
    width: 360px;
    height: 180px;
    object-fit: none;
}

#image_fp{
    background-size: 400px;
    width: 360px;
    height: 180px;
    object-fit: none;
}
