/* .diner{
    height: 400px;
    overflow: auto;
} */

.image{
    height: auto;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    max-height: 250px;
    object-fit: none;
}

.filters-buttons{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button{
    max-height: 36px;
}

.page-title{
    margin: 1rem;
}

.filter-sorter-toggle{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

[name=send-filters]{
    margin-left: 1rem;
    margin-right: 1rem;
}

.toggle-button{
    margin-left: 1rem;
    margin-right: 1rem;
}

.icon{
    max-height: 36px;
}

[data-hover=yes]{
    cursor: pointer;
}

/* #filters{
    float: right;
} */

.form-select{
    font-size: 0.6rem;
}

/* #show-more{
    margin-left: auto;
    margin-right: auto;
} */

[name=rating_svg]{
    filter: invert(72%) sepia(73%) saturate(659%) hue-rotate(347deg) brightness(101%) contrast(98%);
}


#search{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

[data-favorite]{
    max-height: 36px;
}

[data-favorite='1']{
    filter: invert(66%) sepia(33%) saturate(584%) hue-rotate(292deg) brightness(92%) contrast(93%);
}

/* #diners{
    margin-left: 70px;
    margin-right: 70px;
} */

#diner-template{
    margin-bottom: 20px;
}

.title_ue{
    color: #14BC41;
}

.rating_ue{
    color: #14BC41;
}

.view_count_ue{
    color: #14BC41;
}

.budget_ue{
    color: #14BC41;
}

.title_fp{
    color: #E54190;
}

.rating_fp{
    color: #E54190;
}

.view_count_fp{
    color: #E54190;
}

.budget_fp{
    color: #E54190;
}


a:link {
    text-decoration: none;
}

.line{
    height: 1px;
    margin-top: 10px;
    background-color: #E5E5E5;
}