<html>
    <head>
        {% block website_title %}
        {% endblock %}
        <link rel="icon" type="image/png" href="https://appworks-school-hsinyili.s3-ap-northeast-1.amazonaws.com/favicon.png" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'Diner_app/css/styles.css' %}">
        {% block js_and_css %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <nav class="nav-bar">
            <a class="nav-tab" href='/dinerlist' class="diner-list-link">Diner List</a>
            {% if user_is_authenticated %}
                <a class="nav-tab" href="/logout" class="logout-link">Logout</a>
                <a class="nav-tab" href="/favorites" class="favorites-link">Favorites</a>
            {% else %}
                <a class="nav-tab" href="/user/login" class="login-link">Login</a>
            {% endif %}
        </nav>
        <div id="content" name="content" class="container">
            {% block content %}
            {% endblock %}
        </div>
    {% block javascript %}
        <script src="{% static 'Diner_app/js/dinerlist.js' %}"></script>
    {% endblock %}
    </body>
</html>