<html>
    <head>
        {% block website_title %}
        {% endblock %}
        <link rel="icon" type="image/png" href="https://appworks-school-hsinyili.s3-ap-northeast-1.amazonaws.com/favicon.png" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'Diner_app/css/styles.css' %}">
        {% load static %}
        <link rel="stylesheet" href="{% static 'Diner_app/css/bootstrap.css' %}">
        {% load static %}
        <script src="{% static 'Diner_app/js/bootstrap.bundle.js' %}"></script>
        {% block js_and_css %}
        {% endblock %}
        {% load static %}
        <script src="{% static 'Diner_app/js/jquery.js' %}"></script>
        {% load static %}
        <script src="{% static 'Diner_app/js/sweetalert2.all.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
            <div class="nav-item col">
                <a class="nav-link" href="/dinerlist">Diner List</a>
            </div>
            {% if user_is_authenticated %}
            <div class="nav-item col">
                <a class="nav-link" href="/favorites">Favorites</a>
            </div>
            <div class="nav-item col">
                <a class="nav-link" href="/user/logout">Logout</a>
            </div>
            {% else %}
            <div class="nav-item col">
                <a class="nav-link" href="/user/login" class="login-link">Login</a>
            </div>
            {% endif %}
        </nav>
        <div id="content" name="content" class="container">
            {% block content %}
            {% endblock %}
        </div>
    {% block javascript %}
        <script src="{% static 'Diner_app/js/dinerlist.js' %}"></script>
    {% endblock %}
    </body>
</html>