{% extends 'Diner_app/base.html' %}

{% block website_title %}
    <title>Diner_List</title>
{% endblock %}

{% block js_and_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Diner_app/css/dashboard.css' %}">
    {% load static %}
    <script type="text/javascript" src="{% static 'Diner_app/js/moment.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="select-dates" class="row">
            <div class='date row justify-content-center'>
                <label class='col-2'>Start Date</label>
                <input id='start-date' type='date' class='col-4'>
                <label class='col-2'>End Date</label>
                <input id='end-date' type='date' class='col-4'>
            </div>
        </div>
        <div name="lambda-graph" class="row">
            <div id='lambda-line-graph' class="col"></div>
        </div>
        <div name="lambda-graph" class="row">
            <div id='lambda-hist-graph' class='col'></div>
        </div>
        <div name="match-place-graph" class="row">
            <div id='mp-line-graph' class="col"></div>
        </div>
        <div name="match-place-graph" class="row">
            <div id='m-hist-graph' class="col-6"></div>
            <div id='p-hist-graph' class="col-6"></div>
        </div>
        <div id="lambda-data" class="row">
            <table name="lambda-table" class="table">
                <thead>
                    <tr>
                        <th scope="col">紀錄時間</th>
                        <th scope="col">目標</th>
                        <th scope="col">爬取類型</th>
                        <th scope="col">分枝數量</th>
                        <th scope="col">獲取店家數量</th>
                        <th scope="col">執行時間</th>
                    </tr>
                </thead>
                <tbody name="lambda-table-body">
                    <tr data-number=0 name="lambda-table-ue-list-row" style="display: none;">
                        <th data-cell="log-time" name="row-title" scope="row">2020-06-08 13:00:00</th>
                        <td data-cell="source">Uber Eats</td>
                        <td data-cell="type">清單</td>
                        <td data-cell="branches-count">5</td>
                        <td data-cell="diner-count">678</td>
                        <td data-cell="run-time">270.5</td>
                    </tr>
                    <tr data-number=0 name="lambda-table-fp-list-row" style="display: none;">
                        <th data-cell="log-time"name="row-title" scope="row">2020-06-08 13:00:00</th>
                        <td data-cell="source">Food Panda</td>
                        <td data-cell="type">清單</td>
                        <td data-cell="branches-count">1</td>
                        <td data-cell="diner-count">200</td>
                        <td data-cell="run-time">3</td>
                    </tr>
                    <tr data-number=0 name="lambda-table-ue-detail-row" style="display: none;">
                        <th data-cell="log-time" name="row-title" scope="row">2020-06-08 13:00:00</th>
                        <td data-cell="source">Uber Eats</td>
                        <td data-cell="type">詳情</td>
                        <td data-cell="branches-count">5</td>
                        <td data-cell="diner-count">678</td>
                        <td data-cell="run-time">270.5</td>
                    </tr>
                    <tr data-number=0 name="lambda-table-fp-detail-row" style="display: none;">
                        <th data-cell="log-time" name="row-title" scope="row">2020-06-08 13:00:00</th>
                        <td data-cell="source">Food Panda</td>
                        <td data-cell="type">詳情</td>
                        <td data-cell="branches-count">5</td>
                        <td data-cell="diner-count">678</td>
                        <td data-cell="run-time">270.5</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="match-data" class="row">
            <table name="match-table"  class="table">
                <thead>
                    <tr>
                        <th scope="col">紀錄時間</th>
                        <th scope="col">店家總數</th>
                        <th scope="col">相同餐廳</th>
                        <th scope="col">執行時間</th>
                    </tr>
                </thead>
                <tbody name="match-table-body">
                    <tr data-number=0 name="match-table-match-row" style="display: none;">
                        <th data-cell="log-time" name="row-title" scope="row">2020-06-08 13:00:00</th>
                        <td data-cell="diner-count">678</td>
                        <td data-cell="match-count">678</td>
                        <td data-cell="run-time">270.5</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="place-data" class="row">
            <table name="place-table" class="table">
                <thead>
                    <tr>
                        <th scope="col">紀錄時間</th>
                        <th scope="col">使用有效資料更新</th>
                        <th scope="col">使用無效資料更新</th>
                        <th scope="col">新增查詢</th>
                        <th scope="col">店家總數</th>
                        <th scope="col">執行時間</th>
                    </tr>
                </thead>
                <tbody name="place-table-body">
                    <tr data-number=0 name="place-table-place-row" style="display: none;">
                        <th data-cell="log-time" name="row-title" scope="row">2020-06-08 13:00:00</th>
                        <td data-cell="update-found-count">678</td>
                        <td data-cell="update-not-found-count">678</td>
                        <td data-cell="api-count">678</td>
                        <td data-cell="diner-count">678</td>
                        <td data-cell="run-time">270.5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    {% load static %}
    <script type="text/javascript" src="{% static 'Diner_app/js/dashboard.js' %}"></script>
{% endblock %}