{% extends 'Diner_app/base.html' %}
{% block website_title %}
    <title>Diner</title>
{% endblock %}

{% block js_and_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Diner_app/css/dinerinfo.css' %}">
{% endblock %}

{% block content %}
    <h1>Diner Info</h1>
    <div id="diner-info" class="container">
        <div id="title-row" class="row">
            <a id="title_ue" class="col" href=""></a>
            <a id="title_fp" class="col" href=""></a>
        </div>
        <div id="image-row" class="row">
            <img id="image_ue" class="col" src="">
            <img id="image_fp" class="col" src="">
        </div>
        <div id="info-rows" class="row">
            <div id="info_ue" class="col" style="display: none;">
                <div name="thumbnail" class="row">
                    <div class="col">
                        <div id="rating_ue" class="row"></div>
                        <div id="view_count_ue" class="row"></div>
                        <div id="budget_ue" class="row"></div>
                        <div id="deliver_fee_ue" class="row"></div>
                        <div id="deliver_time_ue" class="row"></div>
                        <div id="show-more-info_ue" class="row">顯示營業時間</div>
                    </div>
                </div>
                <div name="more-info" class="row" style="display: none;">
                    <div id="open_hours_row" class="col">
                        <div id="open_hours_ue" class="col">
                            <div name="open_hour_ue" class="row" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="info_fp" class="col" style="display: none;">
                <div name="thumbnail" class="row">
                    <div class="col">
                        <div id="rating_fp" class="row"></div>
                        <div id="view_count_fp" class="row"></div>
                        <div id="budget_fp" class="row"></div>
                        <div id="deliver_fee_fp" class="row"></div>
                        <div id="deliver_time_fp" class="row"></div>
                        <div id="show-more-info_fp" class="row">顯示營業時間</div>
                    </div>
                </div>
                <div name="more-info" class="row" style="display: none;">
                    <div id="open_hours_row" class="col">
                        <div id="open_hours_fp" class="col">
                            <div name="open_hour_fp" class="row" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="info_gm" class="row" style="display: none;">
                <div id="rating_gm"></div>
                <div id="view_count_gm"></div>
                <div id="link_gm"></div>
            </div>
        </div>
        <div id="menu">
            <div id="menu_ue" class="row">
                <div>Uber Eats Menu</div>
                <div id="section-tabs_ue"></div>
                <div name="sections_ue" class="col">
                </div>
            </div>
            <div id="menu_fp" class="row">
                <div>Food Panda Menu</div>
                <div id="section-tabs_fp"></div>
                <div name="sections_fp" class="col">
                </div>
            </div>
        </div>
        <div id="menu_pk row">
            <div class="col">
                <div class="row">
                    <div id="section-tabs_pk_ue" class="col"></div>
                    <div id="section-tabs_pk_fp" class="col"></div>
                </div>
                <div class="row">
                    <div name="sections_pk_ue" class="col-6"></div>
                    <div name="sections_pk_fp" class="col-6"></div>
                </div>
            </div>
        </div>
    </div>
    <div name="item" class="col-12" style="display: none">
        <div class="row">
            <div class="col-8">
                <div name="item-title" class="row"></div>
                <div name="item-price" class="row"></div>
                <div name="item-description" class="row"></div>
            </div>
            <img name="item-image" class="col-4">
        </div>
        <div class="row line"></div>
    </div>
    <div name="items" class="row" style="display: none"></div>
    <div name="subsection" class="col-12" style="display: none">
        <div class="row line"></div>
        <div name="subsection-title" class="row"></div>
    </div>
    <div name="section" class="row" style="display: none">
        <div name="section-title"></div>
    </div>
    <div name="section-tab" class="col" style="display: none;"></div>
    <div name="section-tab-pk" class="col" style="display: none;"></div>
{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'Diner_app/js/dinerinfo.js' %}"></script>
{% endblock %}