{% extends "Diner_app/base.html" %}

{% block website_title %}
    <title>Collection</title>
{% endblock %}

{% block js_and_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Diner_app/css/dinerlist.css' %}">
{% endblock %}
{% block content %}
    <div id='diners' class="container justify-content-center">
        <div id='diner-template' class="row diner" style="display: none;">
            <div class="col-9">
                <div class="row">
                    <a class="redirect-href_ue col" href="">
                        <h4 class="title_ue"></h4>
                    </a>
                    <a class="redirect-href_fp col" href="">
                        <h4 class="title_fp"></h4>
                    </a>
                </div>
                <div class="images row">
                    <a class="redirect-href_ue" href="">
                        <img class="image_ue image img-responsive" src="">
                    </a>
                    <a class="redirect-href_fp" href="">
                        <img class="image_fp image img-responsive" src="">
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    {% if user_is_authenticated %}
                        <div class="col d-flex justify-content-end">
                            <img name="collect" class="col-2 icon" data-hover="yes" src="https://appworks-school-hsinyili.s3-ap-northeast-1.amazonaws.com/heart.svg" data-uuid-ue="" data-uuid-fp="">
                        </div>
                    {% else %}
                        <div class="col d-flex justify-content-end">
                            <div name="collect" class="col-2 icon"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="row align-self-center text-align-center" name="column_names">
                    <div class="col-4 align-self-center"></div>
                    <div class="col-4 align-self-center">
                        <img name="rating_svg" class="col-6 icon" src="https://appworks-school-hsinyili.s3-ap-northeast-1.amazonaws.com/rating.svg" data-number=0>
                    </div>
                    <div class="col-4 align-self-center">
                        <img name="view_count_svg" class="col-6 icon" src="https://appworks-school-hsinyili.s3-ap-northeast-1.amazonaws.com/view_count.svg" data-number=0>
                    </div>
                </div>
                <div class="info_ue align-self-center text-align-center row">
                    <a id='link_ue' class="icon_ue col-4 align-self-center">Uber Eats</a>
                    <div class="rating_value_ue col-4 align-self-center"></div>
                    <div class="view_count_value_ue col-4 align-self-center"></div>
                </div>
                <div class="info_fp align-self-center text-align-center row">
                    <a id='link_fp' class="icon_fp col-4 align-self-center">Food Panda</a>
                    <div class="rating_value_fp col-4 align-self-center"></div>
                    <div class="view_count_value_fp col-4 align-self-center"></div>
                </div>
                <div class="info_gm align-self-center text-align-center row">
                    <a id='link_gm' class="icon_gm col-4 align-self-center">Google Map</a>
                    <div class="rating_value_gm col-4 align-self-center"></div>
                    <div class="view_count_value_gm col-4 align-self-center"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="row justify-content-center">
                    <img name="divider" src="https://appworks-school-hsinyili.s3-ap-northeast-1.amazonaws.com/divider.svg" data-number=0>
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2" data-padding-12>
        <div id='show-more' class="btn btn-light btn-lg" data-offset=0 style="display: none;">顯示更多</div>
    </div>
    <img name="rating_svg" class="col-6 icon" src="https://appworks-school-hsinyili.s3-ap-northeast-1.amazonaws.com/rating.svg" data-number=0 style="display: none;">
    <img name="view_count_svg" class="col-6 icon" src="https://appworks-school-hsinyili.s3-ap-northeast-1.amazonaws.com/view_count.svg" data-number=0  style="display: none;">
    <img name="budget_svg" class="col-6 icon" src="https://appworks-school-hsinyili.s3-ap-northeast-1.amazonaws.com/budget.svg" data-number=0  style="display: none;">
{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'Diner_app/js/favorites.js' %}"></script>
{% endblock %}