{% extends "Diner_app/base.html" %}

{% block website_title %}
    <title>Login</title>
{% endblock %}

{% block js_and_css %}
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" href="{% static 'Diner_app/css/dinerlist.css' %}"> -->
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">登入</button>
        <p>還沒有帳號嗎？<a href="/user/register">點此註冊</a></p>
    </form>
{% endblock %}

{% block javascript %}
{% endblock %}