{% extends "Diner_app/base.html" %}

{% block website_title %}
    <title>Register</title>
{% endblock %}

{% block js_and_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'User_app/css/form.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div id='margin-before-form'></div>
    <div class="container d-flex justify-content-center">
        <div id="form-container">
            <form method="POST" class="form-group" id='form'>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row justify-content-center">
                    <div class="col-6 d-flex justify-content-around">
                        <button type="submit" class="btn btn-success">註冊</button>
                        <a href="/user/login" class="btn btn-light">登入</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}